body {
  background-image: url(/img/tlo.jpg);
  font-family: 'Titillium Web', sans-serif;
  background-position: 50% 0;
  background-size: cover;
}
@media screen and (min-width: 1400px) {
  body {
    background-image: url(/img/tlo-subpages.png), url(/img/tlo.jpg);
    font-family: 'Titillium Web', sans-serif;
    background-position: 100% 300px, 50% 0;
    background-size: auto, cover;
  }
}
body.home {
  background-image: url(/img/tlo-home.png), url(/img/tlo.jpg);
  background-position: 35% 320px, 50% 0;
  background-size: contain, cover;
}
@media screen and (min-width: 1575px) {
  body.home {
    background-position: 35% 120px, 50% 0;
  }
}
.container {
  max-width: 1920px;
}
a {
  @apply no-underline text-green;
}
.mw66 {
  max-width: 66%;
}
.logo {
  max-width: 230px;
}
@media screen and (min-width: 992px) {
   .main-menu { order: 1; }
   .logo { order: 2; }
   .lang-menu { order: 3; }
}
.hex {
  transform: translateY(10px);
}
header:after {
  content: "";
  width: 127px;
  height: 82px;
  background: transparent url(/img/hexy.svg) 0 0 no-repeat;
  position: absolute;
  bottom: -70px;
  left: 43%;
  z-index: -1;
}
@media screen and (min-width: 321px) {
  header:after {
    left: auto;
    right: 200px;
  }
}
@media screen and (min-width: 800px) {
  header:after {
    left: 60%;
    right: auto;
  }
}